.SlideShowCSS {
  background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: .5%;
    margin-right: .5%;
  }
  
  .previousButtonSlideshow{
    background-color: #333;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 60px;
    padding-top: 60px;
    cursor: pointer;
    margin: .5%;
    width: 30px; 

  }

  .nextButtonSlideshow {
    background-color: #333;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 60px;
    padding-top: 60px;
    cursor: pointer;
    margin: .5%;
    width: 30px; 
  }
  
  .previousButtonSlideshow:disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  .nextButtonSlideshow:disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  
  .slidshowimages {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd; 
    width: 94%; 
    max-height: 490px; 
  }

  .slideshowtitle {
    background-color: white;
    text-align: center;
    margin: .5%;
    margin-bottom: 0;
    font-size: 40px;
    padding-top: 1%;
    padding-bottom: 1%;
  }







  @media screen and (max-width: 768px) {

    .previousButtonSlideshow{
      background-color: #33a1ff;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 30px;
      padding-top: 30px;
      cursor: pointer;
      margin: .5%;
      width: 20px; 
  
    }
  
    .nextButtonSlideshow {
      background-color: #33a1ff;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 30px;
      padding-top: 30px;
      cursor: pointer;
      margin: .5%;
      width: 20px; 
    }

    .slidshowimages {
      max-width: 100%;
      height: auto;
      border: 1px solid #ddd; 
      width: 94%; 
      max-height: 390px; 
    }
  
    .slideshowtitle{
      background-color: white;
      margin: .5%;
      font-size: 25px;
      padding-top: 1%;
      padding-bottom: 1%;
    }

  }





  @media screen and (max-width: 501px) {

    .previousButtonSlideshow{
      background-color: #333;
      color: #fff;
      font-size: 5px;
      font-weight: bold;
      padding-bottom: 15px;
      padding-top: 15px;
      cursor: pointer;
      margin: .5%;
      width: 10px; 
  
    }
  
    .nextButtonSlideshow {
      background-color: #333;
      color: #fff;
      font-size: 5px;
      font-weight: bold;
      padding-bottom: 15px;
      padding-top: 15px;
      cursor: pointer;
      margin: .5%;
      width: 10px; 
    }

    .slidshowimages {
      max-width: 100%;
      height: auto;
      border: 1px solid #ddd; 
      width: 94%; 
      max-height: 290px; 
    }
  
    .slideshowtitle{
      background-color: white;
      margin: .5%;
      font-size: 15px;
      padding-top: 1%;
      padding-bottom: 1%;
    }


  }