
.App {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: .5%;
  margin-right: .5%;
  margin-top: 7%;
  margin-bottom: .5%;
}



.EmployeeList {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.PositionChecklist {
  margin-bottom: 20px;
}

.PositionChecklist h3 {
  margin-bottom: 10px;
}

.PositionChecklist label {
  display: block;
  margin-bottom: 3%;
}

.EmployeeItems {
  overflow-y: auto;
  width: 400px;
  max-height: 450px; /* Adjust the max-height as needed */
}

.EmployeeListItem {
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: white;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.EmployeeListItem:hover {
  background-color: #33a1ff;
}

.ProfileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 4%;
}

.EmployeeDetails {
  flex-grow: 1;
}

/* Style the checkbox */
.PositionChecklist input[type="checkbox"] {
  margin-right: 5px;
}

/* Style the scrollbar (customize as needed) */
.EmployeeItems::-webkit-scrollbar {
  width: 8px;
}

.EmployeeItems::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.EmployeeItems::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.ProfileImage {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: 2%;
}

/* Header Styles */
.App h2, .HeaderP, .headerTitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

/* EmployeePage Styles */
.EmployeePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  align-items: center;
  min-width: 50%;
}

.ProfileImageRight {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: 1px solid #333;
}

.text-my-h3 {
  text-align: center;
  background-color: white;
}

.PageName {
  color: #333;
  text-align: center;
}




  @media screen and (max-width: 768px){
    
    
.App {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: .5%;
}
    
    .EmployeeListItem {
      background-color: #33a1ff;
    }

    .ProfileImage {
      width: 50px; 
      height: 50px;
    }

    .App h2{
      text-align: center;
    }
  
    .HeaderP{
      display: flex;
      font-weight: bold;
      text-align: center;
      justify-content: center;
      font-size: 30px;
    }

    .ProfileImageRight{
      width: 200px;
      height: 200px;
    }

    .text-my-h3{
      background-color: #33a1ff;
    }

  }



  @media screen and (max-width: 505px){
    
    
    .App {
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 12%;
      margin-bottom: .5%;
    }
        
        .EmployeeListItem {
          background-color: white;
          font-size: small;
        }
    
        .ProfileImage {
          width: 50px; 
          height: 50px;
        }
    
        .App h2{
          text-align: center;
        }
      
        .HeaderP{
          display: flex;
          font-weight: bold;
          text-align: center;
          justify-content: center;
          font-size: 30px;
        }
    
        .ProfileImageRight{
          width: 100px;
          height: 100px;
        }
    
        .text-my-h3{
          background-color: white;
          font-size: small;
        }
    
      }