
.App {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 23%;
  margin-right: 23%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.Homepage {
    background-color: white;
    width: 40%;
    margin: 2px;
    text-align: center;
  }
  .SearchBar{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .SearchInput {
    width: 300px; 
    padding: 5px; 
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .EmployeeListItem {
    display: flex;
    align-items: center; 
    padding: 10px; 
    margin: 3px;
    border: 1px solid #7c7b7b;
  }
  
  .ProfileImage {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  
  h2{
    text-align: center;
  }
  .HeaderP{
    display: flex;
    font-weight: bold;
    text-align: center;
    justify-content: center;
  }
  
  .EmployeePage {
    display: flex;
    flex-direction: column;
    background-color: rgb(239, 243, 243);
    align-items: center;
    margin: 2px;
    align-items: center;
    /* border: solid brown 1px; */
    padding: 10px;
    min-width: 40%;
  
  }
  
  .ProfileImageRight{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  
  .EmployeeDetails {
    flex: 1;
  }
  .PageName{
  color: #7c7b7b;
  text-align: center;
  }