.MainPage{
    text-align: center;
    color: #333;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  
  .nav2 {
    background-color: white;
    border-radius: 1px;
    margin-top: 0;
    margin-bottom: 0.5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  .nav2 h3{
    color: #333;
    font-style: italic;
    font-size: 20px;
    padding: .4%;
    margin: 0;
  }

  .imagesContainer {
    display: flex;
    position: relative;
    margin: 0;
  }
  

  .title1image,
  .title2image,
  .title3image,
  .title4image{
    background-size: cover;
    max-width: 100%;
    margin-left: 2px; 
    border: 1px solid #ddd; 
  }
  
  .title1image {
    position: relative;
    background-image: url('/public/airportnight.png');
    margin-left: .3%;
    height: 500px;
    width: 420px;
    transition: transform 0.7s;
  }
  
  .title1image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: 0.5s; 
}

.title1image:hover::before {
    background-color: rgba(0, 0, 0, 0); 
}

.title1image h2 {
    color: white;
    font-style: italic;
    font-size: 40px;
    position: absolute; 
    top: 80%; 
    left: 20%; 
    opacity: 0; 
    transition: 0.5s; 
}

.title1image:hover h2 {
    opacity: 1; 
}

.title1image:hover {
  transform: scaleX(1.3); 
  transform-origin: left;
  z-index: 10;
}

.title1image:hover::before {
  background-color: rgba(0, 0, 0, 0); 
}




  .title2image {
    position: relative;
    background-image: url('/public/earthnight.png');
    margin-left: .3%; 
    height: 500px;
    width: 335px;
    transition: transform 0.7s;
  }

  .title2image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: 0.5s; 
}


  .title2image h2 {
    color: white;
    font-style: italic;
    font-size: 40px;
    position: absolute; 
    top: 80%; 
    left: 10%; 
    opacity: 0; 
    transition: 0.5s; 
  }


  .title2image:hover h2 {
    opacity: 1; 
}

.title2image:hover {
  transform: scaleX(1.3); 
  transform-origin: left;
  z-index: 10;
}

.title2image:hover::before {
  background-color: rgba(0, 0, 0, 0); 
}






  .title3image {
    position: relative;
    background-image: url('/public/airplanewindow.png');
    margin-left: .3%; 
    height: 500px;
    width: 250px;
    transition: transform 0.7s;
  }

  .title3image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: 0.5s; 
}

.title3image:hover::before {
    background-color: rgba(0, 0, 0, 0); 
}

.title3image h2 {
    color: white;
    font-style: italic;
    font-size: 40px;
    position: absolute; 
    top: 80%; 
    left: 10%; 
    opacity: 0; 
    transition: 0.5s; 
}

.title3image:hover h2 {
    opacity: 1; 
}

.title3image:hover {
  transform: scaleX(1.3); 
  transform-origin: left;
  z-index: 10;
}

.title3image:hover::before {
  background-color: rgba(0, 0, 0, 0); 
}




  .title4image {
    position: relative;
    background-image: url('/public/parisnight.png');
    height: 500px;
    width: 245px;
    margin-left: .3%;
    margin-right: .5%;
    transition: transform 0.7s;
  }
  
  .title4image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: 0.5s; 
}

.title4image:hover::before {
    background-color: rgba(0, 0, 0, 0); 
}

.title4image h2 {
    color: white;
    font-style: italic;
    font-size: 40px;
    position: absolute; 
    top: 70%; 
    left: 10%; 
    opacity: 0; 
    transition: 0.5s; 
}

.title4image:hover h2 {
    opacity: 1; 
}

.title4image:hover {
  transform: scaleX(1.3); 
  transform-origin: right;
  z-index: 10;
}

.title4image:hover::before {
  background-color: rgba(0, 0, 0, 0); 
}

 
  




.Second-part-homepage{
 background-color: white;
 display: flex;
 margin: .5%;
 width: 99%;
 height: 50%;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  .entertainImage {
    width: 600px; 
    height: 250px; 
    border-radius: 20px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 15%;
    border: 1px solid #333; 
  }
  .textcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
  }

  .nonStop{
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 5%;
    color: white;

  }
  
  .fly {
    text-align: left;
    font-size: 25px;
    margin-top:1%; 
    color : black
  }


  .LoremP{
    text-align: left;
    color: red;
  }

  .check-movies-homepage {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #33a1ff;
    background-size: cover;
    padding: 10px;
    cursor: pointer;
  }

  



  /* ============================= media query for tablets ====================================================== */
@media screen and (max-width: 768px) {
  
  .nav2 {
    margin-top: 0;
    padding-top: .5%;
    padding-bottom: .5%;
  }
 

  .nav2 h3{
    color: #33a1ff;
    font-size: 16px;
    font-style: italic;
  }

  .imagesContainer {
    display: flex;
    position: relative;
    margin: 0;
  }

  .title1image {
    position: relative;
    background-image: url('/public/airportday.png');
    margin-left: .3%;
    height: 440px;
    width: 300px;
  }
  
  .title2image {
    position: relative;
    background-image: url('/public/travel1.png');
    margin-left: .3%; 
    height: 440px;
    width: 260px;
  }

  .title3image {
    position: relative;
    background-image: url('/public/windowday.png');
    margin-left: .3%; 
    height: 440px;
    width: 200px;
  }


  .title4image {
    position: relative;
    background-image: url('/public/travel2.png');
    height: 440px;
    width: 180px;
    margin-left: .3%;
    margin-right: .5%;
  }


  .title1image h2,
  .title2image h2,
  .title3image h2,
  .title4image h2 {
    display: none;
  }



  .entertainImage {
    width: 450px; 
    height: 180px; 
    border-radius: 20px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 10%;
    border: 1px solid #333; 
  }
  .textcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
  }

  .nonStop{
    background-color: #33a1ff;
    font-size: 15px;
    font-weight: bold;
    padding: 3%;
    margin-right: 5%;
    color: white;

  }
  
  .fly {
    text-align: left;
    font-size: 15px;
    margin-top:1%; 
  }

}

/*================ media query for phones ================== */
@media screen and (max-width: 501px) {

  .nav2 h3{
    color: #333;
    font-size: 14px;
    font-style: italic;
  }

  .imagesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .3%;
  }

  .title1image {
    position: relative;
    background-image: url('/public/airportnight.png');
    height: 248px;
    width: 248px;
  }
  
  .title2image {
    position: relative;
    background-image: url('/public/earthnight.png');
    height: 248px;
    width: 248px;
  }
  .title2image:hover {
    transform: scaleX(1.3); 
    transform-origin: right;
    z-index: 10;
  }

  .title3image {
    position: relative;
    background-image: url('/public/airplanewindow.png'); 
    height: 248px;
    width: 248px;
  }
  .title4image {
    position: relative;
    background-image: url('/public/parisnight.png');
    height: 248px;
    width: 248px;
  }


  .title1image h2 {
    color: white; 
    margin-top: 500px; 
    font-style: italic;
    font-size: 15px;
  }
  
  .title2image h2 {
    color: white; 
    margin-top: 345px; 
    font-style: italic;
    font-size: 15px;
  }
  
  .title3image h2 {
    color: white; 
    margin-top: 500px; 
    font-style: italic;
    font-size: 15px;
  }
  
  .title4image h2 {
    color: white; 
    margin-top: 500px; 
    font-style: italic;
    font-size: 15px;
  }


}