.AirportContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 460px;
  margin: .5%;
}

.submitAirport {
  display: flex;
    text-align: center;
    margin: 1%;
  }
  
  .inputAirport {
    width: 500px; 
    padding: 2%;
    font-size: 16px;
    border: 1px solid #ccc;
    font: white;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .submitAirport input[type="submit"] {
    padding: 2px 24px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitAirport
   input[type="submit"]:hover {
    color: #333;
    background-color:#33a1ff;
  }


  /*======================== CSS FOR AIRPORT DETAILS ============================*/

  .displayAirportsDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 460px;
  }

  .displayAirportsDetails h1 {
    margin-top: 1%;
    margin-bottom: 0;
    text-align: center;
  }
  
  
  .airport-name {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    position: relative; 
    z-index: 1; 
  }
  
  .airport-code,
  .airport-location,
  .airport-elevation,
  .airport-latitude,
  .airport-longitude,
  .airport-timezone {
    margin-bottom: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: relative; 
    z-index: 1; 
  }

  
  .selected-airport-details {
    display: flex;
    min-width: 98%;
    flex-direction: column;
    position: relative;
    margin: 0.5%;
    background-image: url('https://images.unsplash.com/photo-1570114581742-586696237de1?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: contain;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .selected-airport-details::before{
 content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px; 
  z-index: 2;
  }

  
  .selected-airport-details h2 {
    color: #33a1ff;
    text-align: center;
  }
  
  .selected-airport-details p {
    margin: 8px 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .displayAirportsDetails select {
    padding: .2%;
    font-size: 20px;
    min-width: 400px;
  }
  
  .selected-airport-details h1 {
    color: #333;
  }
  
  select option {
    color: #333;
  }
  
  select option:hover {
    background-color: #33a1ff;
  }
  






  


















  @media screen and (max-width: 768px) {

    .submitAirport input[type="submit"] {
      margin-top: 2%;
      background-color: #33a1ff;
    }
  
  }






  @media screen and (max-width: 768px) {

    .submitAirport input[type="submit"] {
      margin-top: 2%;
      background-color: #33a1ff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .inputAirport {
      width: 440px; 
    
    }

  
  }











  @media screen and (max-width: 501px) {

    .submitAirport input[type="submit"] {
      margin-top: 2%;
      background-color: #333;
    }
  
  }