/*==================== CSS for Airlines Search ====================*/
.AirlinesContainer{
    margin-top: 90px;
    margin-bottom: 400px;
}


.submitAirlines {
    text-align: center;
    margin-top: 20px;
  }
  
  .inputAirlines {
    width: 500px; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    font: white;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .submitAirlines input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitAirlines input[type="submit"]:hover {
    color: #333;
    background-color:gray;
  }
  
  
  /*===================== CSS Airlines Details  =========================*/
  .displayAirlinesDEtailes {
    /* display: inline; */
    text-align: center;
    margin-top: 100px;
  }
  .display {
    margin-top: 50px;

  }
  
  .display h1 {
    color: #333;
    margin-top: 30px;
  }
  
  .airline-container {
    padding: 20px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #f9f9f9;
    opacity: .8;
    margin: 1%;
  }
  
  .airline-name {
    color: #0066cc;
  }
  
  .airline-code {
    margin: 10px 0;
    color: black;
    font-size: larger;
    font-weight: bold;
  }
  
  .company-logo {
    max-width: 200px;
    max-height: 100px;
    margin: 10px 0;
  }
  .airline-code span {
    color: red; 
    margin-right: 5px; 
  }
  
  .fleet-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .fleet-info h3 {
    color: #0066cc;
  }
  
  .fleet-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .fleet-info li {
    margin-bottom: 5px;
    margin-right: 20px; 
    white-space: nowrap; 
  }
  
  .fleet-info li span {
    margin-left: 5px; 
    color: red;
    font-weight: bold;
  }












  @media screen and (max-width: 768px) {
    .submitAirlines input[type="submit"] {
      margin-top: 2%;
      background-color: #33a1ff;
    }

    

  }







  @media screen and (max-width: 501px) {

    .inputAirlines {
      width: 400px; 
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      font: white;
      border-radius: 5px;
      margin-right: 10px;
    }

    .submitAirlines input[type="submit"] {
      margin-top: 2%;
      background-color: #333;
    }

  }