.login-container{
    margin-top: 10%;
    margin-left: 40%;
}

.login-container form {
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .login-container label {
    display: block;
    margin-bottom: 8px;
  }

  .login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  .login-container p{
    text-align: center;
    margin-right: 60%;
  }

  .login-container button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

  .login-container button:hover {
    background-color: #33a1ff;
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

  .singuploginpage{
    color: #333;
    font-size: 33px;
  }

  .singuploginpage:hover{
    color: #33a1ff;
    font-size: 33px;
  }










  @media screen and (max-width: 768px) {
    .login-container{
      margin-top: 15%;
      margin-left: 25%;
  }



  .login-container button {
    background-color: #33a1ff;
    color: #333;
  }

  .login-container button:hover {
    background-color: #333;
    color: white;
  }
  .singuploginpage{
    color: #33a1ff;
    font-size: 22px;
  }
  .singuploginpage:hover{
    color: #333;
    font-size: 22px;
  }
  
  
  }







  @media screen and (max-width: 501px) {
    .login-container{
      margin-top: 15%;
      margin-left: 10%;
  }

  .login-container button {
    background-color: #333;
    color: #fff;
  }

  .login-container button:hover {
    background-color: #33a1ff;
    color: #333;
  }

  .singuploginpage{
    color: #333;
    font-size: 18px;
  }
  
  .singuploginpage:hover{
    color: #33a1ff;
    font-size: 18px;
  }
 
  
  }

