.Signup-page{
    margin-top: 10%;
    margin-left: 40%;
}


.Signup-page form {
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .Signup-page label {
    display: block;
    margin-bottom: 8px;
  }
  .Signup-page input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  .Signup-page p{
    text-align: center;
    margin-right: 60%;
  }

  .Signup-page button {
    background-color: #33a1ff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

  .Signup-page button :hover {
    background-color: #fff;
    color: #33a1ff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  