.food-list-container {
    overflow-x: auto;
    background-color: rgb(233, 236, 239);
    list-style: none;
    display: flex;
    overflow: auto;
    padding: 0;
    margin: .5%;
    border: 1px solid #ddd; 
  }

  .food-title{
    font-style: italic;
    font-family: Arial;
    color: #333;
    font-size: 35px;
  }

  .food-list-container ul {
    margin: .5%;
  }
  
  .food-list-container li {
    margin-right: .2%;
  }
  
  .food-list-container img {
    width: 350px; 
    height: 450px; 
    /* max-width: 100%; */
    border: 1px solid #333; 
    border-radius: 2px;
    
  }