.food-container {
    overflow-x: auto;
  }
  
  .food-list {
    list-style: none;
    display: flex;
    overflow: auto;
    padding: 0;
    margin: 0;
  }
  
  .food-list li {
    margin-right: 10px;
  }
  
  .food-list img {
    max-width: 100%; 
  }