.food-list-container {
    overflow-x: auto;
    background-color: white;
    list-style: none;
    display: flex;
    overflow: auto;
    padding: 0;
    margin: .5%;
    border: 1px solid #ddd; 
  }

  .food-container {
    background-color: white;
    margin: .5%;
    display: flex; /* Use flex container for better control */
    align-items: center; /* Align items vertically in the center */
    justify-content: center;
  }

  .food-title,
  .cateringImage {
    display: inline-block;
    margin-right: 10px; 
  }

  .food-title{
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  .cateringImage{
    width: 80px;
    height: 80px;
  }

  .food-list-container ul {
    margin: .5%;
  }
  
  .food-list-container li {
    margin-right: .2%;
  }
  
  .food-list-container img {
    width: 350px; 
    height: 450px; 
    border: 1px solid #333; 
    border-radius: 2px;
    
  }




  @media screen and (max-width: 768px) {

  }





  @media screen and (max-width: 501px) {

  }