.food-list-container {
    overflow-x: auto;
    background-color: white;
    list-style: none;
    display: flex;
    overflow: auto;
    padding: 0;
    margin: .5%;
    border: 1px solid #ddd; 
  }

  .food-container {
    background-color: white;
    margin: .5%;
    display: flex;
    align-items: center; 
    justify-content: center;
  }

  .food-title,
  .cateringImage {
    display: inline-block;
    margin-right: 10px; 
  }

  .food-title{
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  .cateringImage{
    width: 80px;
    height: 80px;
  }

  .food-list-container ul {
    margin: .5%;
  }
  
  .food-list-container li {
    margin-right: .2%;
  }
  
  .food-list-container img {
    width: 290px; 
    height: 400px; 
    border: 1px solid #333; 
    border-radius: 2px;
    
  }




  @media screen and (max-width: 768px) {
    

    .food-title{
      color: black;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
    }
    .cateringImage{
      width: 60px;
      height: 60px;
    }

    .food-list-container img {
      width: 225px; 
      height: 300px; 
      border: 1px solid #333; 
      border-radius: 2px;
      
    }

  }
  


  @media screen and (max-width: 501px) {

    .food-title{
      color: black;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
    }
    .cateringImage{
      width: 30px;
      height: 30px;
    }

    .food-list-container img {
      width: 105px; 
      height: 180px; 
      border: 1px solid #333; 
      border-radius: 2px;
      
    }

  }