
.footer1 {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    margin-top: .5%;
    margin-bottom: 0;
  }
  
  .footer-section {
    max-width: 200px;
    display: flex;
    flex-direction: column;
  }
  
  .footer-section h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 0%;
  }

  .footer-section ul li{
    font-size: 18px;
  }


  .footer-section ul {
    display: block;
    padding-left: 3%;
  }

  .footer-section ul li:hover {
    color: #33a1ff; 
    cursor: pointer;
  }










@media screen and (max-width: 768px) {
    .footer1 {
        background-color: #33a1ff;
      }

      .footer-section h3 {
        border-bottom: 1px solid #fff;
        padding-bottom: 1px;
      }

      .footer-section ul li{
        font-size: 16px;
      }

  }





  @media screen and (max-width: 501px) {
    .footer1 {
        background-color: #333;
      }

      .footer-section ul li{
        font-size: 12px;
      }
  }