.employee-edit-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1% auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  }
  
  .employee-edit-header {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
  }
  
  .employee-edit-container form {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px;
  }
  
  .employee-edit-container label {
    font-weight: bold;
  }
  
  .employee-edit-container input {
    padding: 8px;
    font-size: 14px;
    color: black;
    width: 98%; 
    margin-right: 15px;
  }
  
  .employee-edit-button {
    align-items: center;
    background-color: #33a1ff;
    width: 100%;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }