.airport-show-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1% auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
  }
  
  .airport-show-header {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: .5%;
  }
  
  .airport-show-details-choice {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .airport-show-details-choice:hover {
    background-color: #f0f0f0;
  }
  
  .airport-detail-item-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0%;
  }
  

  
  .airport-details-label-choice {
    margin: 1%;
    color: #333;
  }

  .airport-details-label-choice span {
    color: #33a1ff;
  }
  
  .Aiport-show-back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-right: auto;
  }
  
  .Aiport-show-back-button:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
  