.Signup-page{
  min-height: 500px;
}


.Signup-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 5% auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .Signup-page label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }

  .Signup-page input {
   width: 400px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }


  .Signup-page p{
   text-align: center;
  }

  .link-login {
    color: #33a1ff;
  }

  .error-message {
    color: red;
  }

  .Signup-page button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

  .Signup-page button :hover {
    background-color: #fff;
    color: #33a1ff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  

  @media screen and (max-width: 768px) {
    .Signup-page{
      margin-top: 12%;
      margin-left: 20%;
  }
  

  .Signup-page button {
    background-color: #33a1ff;
  }
  
  }

  .Linktologin{
    font-size: 30px;
    color: #33a1ff;
  }







  @media screen and (max-width: 501px) {
    .Signup-page{
      margin-top: 15%;
      margin-left: 15%;
  }
  .Signup-page button {
    background-color: #333;
  }
  }