.movie-container {
  padding: 2.2vmin;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 2px;
}

.pagination li {
  margin: 0 10px;
  cursor: pointer;
}

.pagination a {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  color: #333;
  background-color: #33a1ff;
}

.pagination .active {
  margin: 0 10px;
  padding: 1px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  border: 3px solid #333;
}

.add-movie-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #33a1ff;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
}


.movies-list-itmes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2.2vmin;
  list-style: none;
  padding: 0;
}




.movie-poster {
  width: 100%; 
  height: 420px;
  border-radius: 8px;
  margin-bottom: 1px;
}

.no-poster-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 420px;
  border-radius: 8px;
  background-color: #fff;
}


.movie-description{
  color: #fff;
  flex-grow: 1;
  text-decoration: none;
  text-align: center;
  font-size: 3vmin;
  margin: .5vmin;
}



.search-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  flex-grow: .5;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  background-color: #33a1ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: .5vmin;
}

.genre-filter{
  display: flex;
  margin-right: 2vmin;
  margin-left: 5vmin;
  padding: 0px;
}

.year-filter{
  display: flex;
  margin-right: 2vmin;
  margin-left: 5vmin;
}

.genre-filter label {
  font-size: 4vmin;
  margin-right: 2vmin;
  padding: 0px;
}

.year-filter label{
  font-size: 4vmin;
  margin-right: 2vmin;
}

.select-dropdown {
  margin-left: 2vmin;
  width: 30vmin;
  height: 5vmin;
}


.movies-items-container {
  position: relative;
  list-style: none;
  background-color: #333;
  border-radius: 8px;
}

.icon-buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 0px 6px 0px 0px ;
  font-size: 4vmin;
}

.icon-buttons a {
  margin-right: 2vmin;
  text-decoration: none;
}

.fa-eye {
color: #33a1ff;
}

.fa-pen-to-square {
color: #333;
}

.fa-trash {
  color: red;
}

.fa-ban {
  margin-top: 2vmin;
  color: red;
  font-size: 10vmin;
}







  